{% extends 'administrator/base.html' %} {% load staticfiles %} {% block content %}

<body class="hold-transition skin-purple sidebar-mini fixed">
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 403</h2>

            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! This page is forbidden.</h3>

                <p>
                    We could not find the page you were looking for. Meanwhile, you may <a href="/logout/">return to login page</a>.
                </p>

            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
</body>

{% endblock content %}
