{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    {% block header %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="{% static 'pace/pace.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pace/pace.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/palette-color-picker.css' %}">
    {% endblock header %}
</head>
{% block content %}

{% block js %}
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'dist/js/app.min.js' %}"></script>
<script src="{% static 'dist/js/palette-color-picker.js' %}"></script>
{% endblock js %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% endblock content %}
</html>
