{% extends 'administrator/base.html' %}
{% load staticfiles %}
{% block content %}

<body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            {% include 'administrator/header.html' %}
        </header>

        <aside class="main-sidebar">
            {% include 'administrator/navigation.html' with active_tab='open_companies' %}
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Create Tracker
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-building"></i> {{ company.name }}</a></li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">

                        {% if request == 'POST' %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-warning alert-dismissible">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <i class="icon fa fa-warning"></i> {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <i class="icon fa fa-check"></i> Tracker has been created successfully!
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="box">

                            <form role="form" method="POST">
                                {% csrf_token %}
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Tracker</label> {{ form.tracker }}
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

    {% block footer %}
        {{ block.super }}
    {% endblock footer %}

    {% block js %}
        {{ block.super }}
    {% endblock js %}
</body>
{% endblock content %}
