{% extends 'administrator/base.html' %}
{% load staticfiles %}

{% block content %}
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            {% include 'administrator/header.html' %}
        </header>

        <aside class="main-sidebar">
            {% include 'administrator/navigation.html' %}
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Create Company
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
                    <li class="active">Company</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">

                    <div class="box box-primary">
                        <form role="form" method="POST">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                          <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                                <!-- MODAL -->
                                <div class="modal fade" id="cfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Create Company</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% if form.non_field_errors %}
                                                    {% for error in form.non_field_errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                {% else %}
                                                    Company has been created successfully.
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- MODAL -->
                        </form>
                    </div>

                </div>
            </section>
        </div>



    </div>
{% block footer %}
{{ block.super }}
{% endblock footer %}

{% block js %}
{{ block.super }}
{% if request == 'POST' %}
<script type="text/javascript">
    $(window).load(function(){
        $('#cfModal').modal('show');
    });
</script>
{% endif %}
{% endblock js %}
</body>
{% endblock content %}
