{% extends 'administrator/base.html' %}
{% load staticfiles %}

{% block header %}
{{ block.super }}
<title> BITS - Create Employee </title>
{% endblock %}

{% block content %}
<body class="hold-transition skin-purple sidebar-mini fixed">
    <div class="wrapper">

        <header class="main-header">
            {% include 'administrator/header.html' %}
        </header>

        <aside class="main-sidebar">
            {% include 'administrator/navigation.html' %}
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Update Employee
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Admin</a></li>
                    <li class="active">Employee</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                    <div class="box">
                        <form role="form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="box box-solid">
                                    {{ form.username }}
                                    {{ form.type }}
                                    <div class="box-header with-border">
                                    <h4 class="box-title">Personal Details</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            {{ form.first_name }}
                                        </div>
                                        <div class="form-group">
                                            <label>Middle Name</label>
                                            {{ form.middle_name }}
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            {{ form.last_name }}
                                        </div>
                                        <div class="form-group">
                                            <label>Sex</label>
                                            {{ form.sex }}
                                        </div>
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                            <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                                {{ form.date_of_birth }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Mobile Number</label>
                                            <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-mobile"></i>
                                            </div>
                                                {{ form.mobile_number }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Photo</label>
                                            {{ form.picture }}
                                        </div>
                                    </div>
                                </div>

                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                    <h4 class="box-title">Employement Details</h4>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Company</label>
                                            {{ form.company }}
                                        </div>
                                        <div class="form-group">
                                            <label>Position</label>
                                            {{ form.position }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" value="Update" class="btn btn-primary">Update</button>
                            </div>
                              </div>
                                <!-- MODAL -->
                                <div class="modal fade" id="cfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Update Employee</h4>
                                            </div>
                                            <div class="modal-body">
                                                {% if form.non_field_errors %}
                                                    {% for error in form.non_field_errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                {% else %}
                                                    Employee has been updated successfully.
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- MODAL -->
                        </form>
                    </div>

                </div>
            </section>
        </div>



    </div>
{% block footer %}
{{ block.super }}
{% endblock footer %}

{% block js %}
{{ block.super }}
<script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
{% if request == 'POST' %}
<script type="text/javascript">
    $(window).load(function(){
        $('#cfModal').modal('show');
    });
</script>
{% endif %}
<script>
    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    });
</script>
{% endblock js %}
</body>
{% endblock content %}
