{% extends 'administrator/base.html' %}
{% load staticfiles %}

{% block content %}
    <body class="hold-transition skin-purple sidebar-mini fixed">
        <div class="wrapper">

            <header class="main-header">
                {% include 'administrator/header.html' %}
            </header>

            <aside class="main-sidebar">
                {% include 'administrator/navigation.html' with active_tab='employee' active_company_employee=company %}
            </aside>

            <div class="content-wrapper">
                <section class="content-header">
                    <h1><br/></h1>
                    <ol class="breadcrumb">
                        <li><a href="/companies/create/"><i class="fa fa-dashboard"></i> Admin</a></li>
                        <li class="active">View Employees</li>
                    </ol>
                </section>

                <section class="content">
                    <div class="row">

                        <div class="col-xs-12">

                            <div class="box">

                                <div class="box-header">
                                    <h3 class="box-title">Employee Directory</h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-body table-responsive table-bordered no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>ID</th>
                                            <th>Employee</th>
                                            <th>Company</th>
                                            <th>Position</th>
                                            <th>Action</th>
                                        </tr>
                                        {% for employee in employees %}
                                        <tr>
                                            <td>{{ employee.id }}</td>
                                            <td>{{ employee.first_name }} {{ employee.middle_name }} {{ employee.last_name }}</td>
                                            <td>{{ employee.company }}</td>
                                            <td>{{ employee.position }}</td>
                                            <td>
                                                <a class="btn btn-social btn-bitbucket" href="/employees/{{ employee.id }}/update/">
                                                    <i class="fa fa-edit"></i> Update
                                                </a>

                                                <a class="btn btn-social bg-maroon" href="/employees/{{ employee.id }}/delete/">
                                                    <i class="fa fa-trash-o"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr><td>No employees found.</td></tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        {% block footer %}
            {{ block.super }}
        {% endblock footer %}

        {% block js %}
            {{ block.super }}
        {% endblock js %}

    </body>
{% endblock content %}
