{% extends 'user/base.html' %}
{% load staticfiles %}

{% block content %}
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            {% include 'user/header.html' %}
        </header>

        <aside class="main-sidebar">
            {% include 'user/navigation.html' with active_tab='check' %}
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1><br/></h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Check</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                            </div>
                            <div class="box-body">
                                <div class="input-group input-group-md">
                                    <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-flat">Go!</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

{% block footer %}
    {{ block.super }}
{% endblock footer %}

{% block js %}
    {{ block.super }}
{% endblock js %}
</body>
{% endblock content %}