{% extends 'user/base.html' %} {% load staticfiles %} {% block content %}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            {% include 'user/header.html' %}
        </header>

        <aside class="main-sidebar">
            {% include 'user/navigation.html' %}
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1><br/></h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">View Issues</li>
                </ol>
            </section>

            <section class="content">
                    <div class="row">

                        <div class="col-xs-12">

                            <div class="box">

                                <div class="box-header">
                                    <h3 class="box-title">
                                        <button class="btn btn-default">Create New Issue</button>
                                    </h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-body table-responsive table-bordered no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Reference ID</th>
                                            <th>Title</th>
                                            <th>From</th>
                                            <th>Priority</th>
                                            <th>Assigned To</th>
                                        </tr>
                                        {% if issues %} {% for issue in issues %}
                                        <tr>
                                            <td>{{ issue.reference_id }}</td>
                                            <td>{{ issue.title }}</td>
                                            <td>{{ issue.created_by }}</td>
                                            <td>{{ issue.priority }}</td>
                                            <td>{{ issue.assigned_to }}</td>
                                        </tr>
                                        {% endfor %} {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

        </div>

    </div>

    {% block footer %}
        {{ block.super }}
    {% endblock footer %}

    {% block js %}
        {{ block.super }}
    {% endblock js %}
</body>
{% endblock content %}
