{% extends 'user/base.html' %} {% load staticfiles %} {% block content %}

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            {% include 'user/header.html' %}
        </header>

        <aside class="main-sidebar">
            {% include 'user/navigation.html' with active_tab='issue' %}
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1><br/></h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">View Issues</li>
                </ol>
            </section>

            <section class="content">
                    <div class="row">

                        <div class="col-xs-12">

                            <div class="box">

                                <div class="box-header">
                                    <h3 class="box-title">
                                        <button class="btn btn-default" data-toggle="modal" data-target="#issueModal">Create New Issue</button>
                                    </h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 150px;">
                                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-body table-responsive table-bordered no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Reference ID</th>
                                            <th>Title</th>
                                            <th>From</th>
                                            <th>Priority</th>
                                            <th>Assigned To</th>
                                            <th>Date</th>
                                        </tr>
                                        {% if issues %} {% for issue in issues %}
                                        <tr>
                                            <td><a href="/issue/{{ issue.id }}/thread/">{{ issue.reference_id }}</a></td>
                                            <td><a href="/issue/{{ issue.id }}/thread/">{{ issue.title }}</a></td>
                                            <td>{{ issue.created_by }}</td>
                                            <td>
                                                {% if issue.priority == 'LOW' %}
                                                    <span class="badge">
                                                {% elif issue.priority == 'NORMAL' %}
                                                    <span class="badge bg-green">
                                                {% elif issue.priority == 'HIGH' %}
                                                    <span class="badge bg-yellow">
                                                {% else %}
                                                    <span class="badge bg-red">
                                                {% endif %}
                                                    {{ issue.priority }}
                                                </span>
                                            </td>
                                            <td>{{ issue.assigned_to }}</td>
                                            <td>{{ issue.date_created|date:"m-d-Y P" }}</td>
                                        </tr>
                                        {% endfor %} {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

        </div>

<!-- IssueModal -->
<div class="modal fade" id="issueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Issue</h4>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>





    </div>

    {% block footer %}
        {{ block.super }}
    {% endblock footer %}

    {% block js %}
        {{ block.super }}
        <script type="text/javascript">
            $(function () {
                $(".select2").select2();
            });
        </script>
    {% endblock js %}
</body>
{% endblock content %}
