{% extends 'user/base.html' %}
{% load staticfiles %}

{% block content %}
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            {% include 'user/header.html' %}
        </header>

        <aside class="main-sidebar">
            {% include 'user/navigation.html' %}
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1><br/></h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="{{ issue.created_by.picture.url }}" alt="user image">
                                    <span class="username">
                                        <a href="#">{{ issue.title }}</a>
                                    </span>
                                    <span class="description">
                                        {{ issue.reference_id }} - {{ issue.date_created }}
                                    </span>
                                </div>
                                <!-- /.user-block -->
                                <br>
                                <p>
                                    {{ issue.description }}
                                </p>
                                <ul class="list-inline">
                                    <li><a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Created by {{ issue.created_by.first_name }} {{ issue.created_by.middle_name }} {{ issue.created_by.last_name }}</a></li>
                                    <li class="pull-right">
                                        <a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Assigned to {{ issue.assigned_to.first_name }} {{ issue.assigned_to.middle_name }} {{ issue.assigned_to.last_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="box box-success">
                            <div class="box-header">
                                <i class="fa fa-comments-o"></i>

                                <h3 class="box-title">Thread</h3>

                            </div>

                            {% for comment in thread %}
                            <div class="box-body chat">
                                <div class="item">
                                    <img src="{{ comment.created_by.picture.url }}" alt="user image" class="offline">

                                    <p class="message">
                                        <a href="#" class="name">
                                            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{ comment.date_created }}</small>
                                            {{ comment.created_by.first_name }} {{ comment.created_by.middle_name }} {{ comment.created_by.last_name}}
                                        </a>
                                        {{ comment.note }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="box-footer">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        {{ form.note }}
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>

{% block footer %}
{{ block.super }}
{% endblock footer %}

{% block js %}
{{ block.super }}
{% endblock js %}

</body>
{% endblock content %}