<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Issue Tracking System | Issue</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <a href="index.html" class="logo">
              <span class="logo-mini"><b>B</b>ITS</span>
              <span class="logo-lg"><b>BITS</b></span>
            </a>
            
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="dist/img/photo3.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Zorex Salvo</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="dist/img/photo3.png" class="img-circle" alt="User Image">
                                    <p>
                                        Zorex Salvo - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                        
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">

            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="dist/img/photo3.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                      <p>Zorex Salvo</p>
                      <a href="#">Web Developer</a>
                    </div>
                </div>

                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>

                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>

                    <li><a href="index.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Issue</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="view.html"><i class="fa fa-circle-o"></i> View Issues</a></li>
                            <li><a href="new.html"><i class="fa fa-circle-o"></i> Create New Issue</a></li>
                            <li><a href="open.html"><i class="fa fa-circle-o"></i> Open New Ticket</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="user.html"><i class="fa fa-user"></i> <span>User</span></a></li>

                    <li class="header">UTILITIES</li>
                    <li><a href="check.html"><i class="fa fa-circle-o text-red"></i> <span>Check Issue Status</span></a></li>
                </ul>
            </section>
        </aside>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Issue
            <small>Issue Directory</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Issue</a></li>
            <li class="active">Directory</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Reference ID</th>
                                <th>Title</th>
                                <th>Remarks</th>
                                <th>Created By</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">#00001</a></td>
                            <td>FW: AGM End Of Day Report</td>
                            <td>Open</td>
                            <td>admin</td>
                            <td>2016-09-11 00:00:00</td>
                        </tr>
                        <tr>
                            <td><a href="#">#00002</a></td>
                            <td>RE: please help extract transactions ... (5)</td>
                            <td>Open</td>
                            <td>admin</td>
                            <td>2016-09-14 23:59:00</td>
                        </tr>
                        <tr>
                            <td><a href="#">#00003</a></td>
                            <td>404 Not Found</td>
                            <td>Open</td>
                            <td>admin</td>
                            <td>2016-09-12 14:00:10</td>
                        </tr>
                        <tr>
                            <td><a href="#">#00004</a></td>
                            <td>RE: Slow internet</td>
                            <td>Closed</td>
                            <td>admin</td>
                            <td>2016-09-12 15:00:10</td>
                        </tr>
                        <tr>
                            <td><a href="#">#00005</a></td>
                            <td>FW: DELGADO S.M.E_DOUBLE TRANSACTIONS</td>
                            <td>Open</td>
                            <td>admin</td>
                            <td>2016-09-12 09:00:00</td>
                        </tr>
                        <tr>
                            <td><a href="#">#00006</a></td>
                            <td>Extract Reports SME</td>
                            <td>Resolved</td>
                            <td>admin</td>
                            <td>2016-09-12 17:00:00</td>
                        </tr>
                    </tbody>
              </table>
            </div>
        </div>
    </div>
    </section>
</div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.5
  </div>
  <strong>Copyright &copy; 2014-2016 <a href="#">Almsaeed Studio</a>.</strong> All rights
  reserved. Developed by <strong><a href="https://github.com/zorexsalvo/issue-tracking-system">Zorex Salvo</a></strong>.
</footer>

</div>

<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="plugins/fastclick/fastclick.js"></script>
<script src="dist/js/app.min.js"></script>
<script src="dist/js/demo.js"></script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": false,
        "info": true,
        "autoWidth": false
    });
  });
</script>
</body>
</html>
